

body{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  background-image: url('../../img/background1.png');
}

.login-form{
  width: 90%;
  margin: 10%;
  margin-left: 37%;
  margin-top: 13%;

}

.login-form-input{
  width: 70%;
  padding: 20px;
  margin-left: 72px;
  border-radius: 10px;

}
.col-md-6{
  border-radius: 10px;
  border: 1px solid;
  color: white;
}


@media screen and (max-width: 1000px) {

  .col-md-6{
    width: 170%;
    margin-left: -60%;
    margin-top: 50%;
    border: none;
  }

  .login-form-input{
    margin-left: -0.5%;
    width: 100%;

  }


}
